.product-list-section{
    background: rgb(2 13 53);
    margin: 0;
}
h3{
    text-align: left;
    margin-left: 30px;
    text-decoration: underline;
    margin: 0;
    padding: 10px;
}
.item-box{
    background: #010647e3;
    color: aliceblue;
}
.item-box div{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    padding-inline: 20px;
    background: #080d7185;
    border-radius: 30px;
    margin-inline: 30px;
}
.item-box div button{
    background: rgb(196, 38, 38);
    border: none;
    border-radius: 10px;
    color: aliceblue;
    cursor: pointer;
}